.cell {
    box-shadow: inset 2px 5px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    text-justify: auto;
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
    padding-top: 0.5vh;
    min-height: 6vh;
    border-radius: 8px;
    font-size: 3vh;
    margin: 0.25vh;
}

input {
    box-shadow: inset 2px 5px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: left;
    border: 1px solid #FFFFFF;
    padding: 4vw;
    border-radius: 8px;
}

button {
    box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border-width: 0px;
    padding: 0.2vh 0.7vh;
    background-color: lightgray;
}

.key {
    box-shadow: inset 2px 5px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
    padding: 0.7vh;
    min-height: 0.5vh;
    border-radius: 8px;
    font-size: 2vh;
    margin: 0.25vh;
    background-color: white;
}